<div class="wrapper">
    <!-- Listado de noticias -->
    <section>
        <h1 class="post__list-title">Últimas noticias</h1>
        <ul class="post__list" [innerHTML]="postList"></ul>
    </section>

    <!-- Formulario para publicar noticias -->
    <div class="form__wrapper"> <!--De momento aún no puedo llamar "form" a esta etiqueta-->
        <input type="hidden" value="form__post" />
        <h1 class="form__title-h1">¿Tienes una vivécdota de tu perrete o michi digna de contar? ¡Compártela con el mundo!</h1>
        <h2 class="form__title-h2">Ponle título, una imagen potente, lo que nos quieras contar, la fecha de publicación, pulsa "Publicar" y automáticamente aparecerá en las últimas noticias.</h2>
        <div>
            <label class="form__label" for="title">Título de la noticia: </label>
            <input class="form__input-placeholder" type="text" id="title" placeholder="Impactante título de la noticia"
                alt="titulo" [(ngModel)]="title" />
        </div>
        <div>
            <label class="form__label" for="picture">URL de la imagen: </label>
            <input class="form__input-placeholder" type="url" id="picture" placeholder="https//..." alt="imagen"
                [(ngModel)]="url" />
        </div>
        <div>
            <label class="form__label" for="text">Texto de la noticia: </label>
            <textarea class="form__input-placeholder-textarea" type="text" id="text" rows="5" placeholder="Un día mi perrete estaba..."
                alt="texto de la noticia" [(ngModel)]="text"></textarea>
        </div>
        <div>
            <label class="form__label" for="dataPost">Fecha de publicación: </label>
            <input class="form__input-placeholder" type="date" id="dataPost" alt="fecha de publicacion"
                [(ngModel)]="date" />
        </div>
        <div>
            <button type="submit" class="button" alt="enviar" (click)="savePost()">Publicar</button>
        </div>
    </div>
</div>